/*===========================================================
  CHESS PROJECT
  By Gideon Kidd
===========================================================*/

:root {
    --text-col:         #111;

    --back-col:         #eee;
    --back-col-panel:   #fff;

    --border-col:       #355;

    --accent-col:       #e43;

    --tt-col:           #4B7DA7;
}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--back-col);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    nav {
        display: flex;
        gap: 1rem;

        a {
            color: var(--accent-col);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* Teams Tournament --------------------------------------------------*/

.tournament {
    max-width: 20rem;
    margin-inline: auto;
    padding: 1rem;

    color: #fff;
    background-color: var(--tt-col);
    border-radius: 0.5rem;

    a {
        color: #fff;
    }
}


/* Forms --------------------------------------------------*/

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-width: 20rem;
    margin-inline: auto;
    padding: 1rem;

    border: 2px solid var(--border-col);
}